body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#prviBlok{
    margin-left: 5%;
    margin-right: 5%;
}


#naslov{
    text-align-last: center;
    margin-bottom: 50px;
}